@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: #0d0c0f;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li button:before {
  color: #fff;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-slide {
  transition: transform 0.5s ease;
  transform: scale(0.9);
  opacity: 0.8;
}

.slick-center {
  transform: scale(1);
  opacity: 1;
}
